// Layout
$layout__max-width: 1280px;
$layout-indent__width: 20px;

// Colors
$color-white: #fff;
$color-red: red;
$utd-gray-color: #9D9D9D;

// Spacing
$indent__xxs: 2px;
$indent__xs: 4px;
$indent__sm: 8px;
$indent__md: 10px;
$indent__base: 12px;
$indent__lg: 14px;
$indent__xl: 16px;
$indent__xxl: 20px;
$indent__xxxl: 40px;